<%@ tag language="java" pageEncoding="UTF-8"%>
<%@attribute name="styles" fragment="true" %>
<%@attribute name="header" fragment="true" %>
<%@attribute name="scripts" fragment="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<link rel="stylesheet" href="content/styles/styles.css"/>
		<jsp:invoke fragment="styles"/>
	
	</head>
	<body>
		<div id="pageheader">
			<jsp:invoke fragment="header"/>	
		</div>
<div id='cssmenu'>
<ul>
   <li class='active'><a href='index.jsp'>Main Page</a></li>
   <li><a href='profile.jsp'>Your Profile</a></li>
   <li><a href='#'>Friends</a></li>
   <li><a href='#'>Visitors</a></li>
   <li><a href='search.jsp'>Search</a></li>
   <li><a href='index.jsp'>Logout</a></li>
</ul>
</div>
		<div id="content">
			<jsp:doBody/>
		</div>
		
		<div id="footer">
			<script type="text/javascript" src="scripts/jquery-1.11.3.min.js"></script>
			<script type="text/javascript" src="scripts/knockout-3.3.0.js"></script>
			<script type="text/javascript" src="scripts/knockout.mapping.js"></script>
			
			<jsp:invoke fragment="scripts"/>
		</div>
	</body>
</html>






